In [43]:
import pandas as pd
from sklearn.preprocessing import Imputer
train=pd.read_csv('train.csv',delimiter=',')
display(train)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [44]:
#dropping the unnecessary data
x=train.drop(columns=['PassengerId','Name','Ticket','Cabin','Embarked'])
display(x)

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare
0           0       3    male  22.0      1      0    7.2500
1           1       1  female  38.0      1      0   71.2833
2           1       3  female  26.0      0      0    7.9250
3           1       1  female  35.0      1      0   53.1000
4           0       3    male  35.0      0      0    8.0500
5           0       3    male   NaN      0      0    8.4583
6           0       1    male  54.0      0      0   51.8625
7           0       3    male   2.0      3      1   21.0750
8           1       3  female  27.0      0      2   11.1333
9           1       2  female  14.0      1      0   30.0708
10          1       3  female   4.0      1      1   16.7000
11          1       1  female  58.0      0      0   26.5500
12          0       3    male  20.0      0      0    8.0500
13          0       3    male  39.0      1      5   31.2750
14          0       3  female  14.0      0      0    7.8542
15          1       2  female  55.0      0      0   16.0000
16          0       3    male   2.0      4      1   29.1250
17          1       2    male   NaN      0      0   13.0000
18          0       3  female  31.0      1      0   18.0000
19          1       3  female   NaN      0      0    7.2250
20          0       2    male  35.0      0      0   26.0000
21          1       2    male  34.0      0      0   13.0000
22          1       3  female  15.0      0      0    8.0292
23          1       1    male  28.0      0      0   35.5000
24          0       3  female   8.0      3      1   21.0750
25          1       3  female  38.0      1      5   31.3875
26          0       3    male   NaN      0      0    7.2250
27          0       1    male  19.0      3      2  263.0000
28          1       3  female   NaN      0      0    7.8792
29          0       3    male   NaN      0      0    7.8958
..        ...     ...     ...   ...    ...    ...       ...
861         0       2    male  21.0      1      0   11.5000
862         1       1  female  48.0      0      0   25.9292
863         0       3  female   NaN      8      2   69.5500
864         0       2    male  24.0      0      0   13.0000
865         1       2  female  42.0      0      0   13.0000
866         1       2  female  27.0      1      0   13.8583
867         0       1    male  31.0      0      0   50.4958
868         0       3    male   NaN      0      0    9.5000
869         1       3    male   4.0      1      1   11.1333
870         0       3    male  26.0      0      0    7.8958
871         1       1  female  47.0      1      1   52.5542
872         0       1    male  33.0      0      0    5.0000
873         0       3    male  47.0      0      0    9.0000
874         1       2  female  28.0      1      0   24.0000
875         1       3  female  15.0      0      0    7.2250
876         0       3    male  20.0      0      0    9.8458
877         0       3    male  19.0      0      0    7.8958
878         0       3    male   NaN      0      0    7.8958
879         1       1  female  56.0      0      1   83.1583
880         1       2  female  25.0      0      1   26.0000
881         0       3    male  33.0      0      0    7.8958
882         0       3  female  22.0      0      0   10.5167
883         0       2    male  28.0      0      0   10.5000
884         0       3    male  25.0      0      0    7.0500
885         0       3  female  39.0      0      5   29.1250
886         0       2    male  27.0      0      0   13.0000
887         1       1  female  19.0      0      0   30.0000
888         0       3  female   NaN      1      2   23.4500
889         1       1    male  26.0      0      0   30.0000
890         0       3    male  32.0      0      0    7.7500

[891 rows x 7 columns]

In [45]:
#convertimg dataset into an array of independent variables
X=x.iloc[:,1:].values
Y=x.iloc[:,0].values
#dealing with NaN
imputer=Imputer(missing_values='NaN', strategy='mean',axis=0)
imputer=imputer.fit(X[:,2:5])
X[:,2:5]=imputer.transform(X[:,2:5])
display(X)

C:\Users\funke\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[3, 'male', 22.0, 1.0, 0.0, 7.25],
       [1, 'female', 38.0, 1.0, 0.0, 71.2833],
       [3, 'female', 26.0, 0.0, 0.0, 7.925],
       ...,
       [3, 'female', 29.69911764705882, 1.0, 2.0, 23.45],
       [1, 'male', 26.0, 0.0, 0.0, 30.0],
       [3, 'male', 32.0, 0.0, 0.0, 7.75]], dtype=object)

In [46]:
#encoded categorical data to numerical data
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
X[:,1]=le1.fit_transform(X[:,1])
display(X)

array([[3, 1, 22.0, 1.0, 0.0, 7.25],
       [1, 0, 38.0, 1.0, 0.0, 71.2833],
       [3, 0, 26.0, 0.0, 0.0, 7.925],
       ...,
       [3, 0, 29.69911764705882, 1.0, 2.0, 23.45],
       [1, 1, 26.0, 0.0, 0.0, 30.0],
       [3, 1, 32.0, 0.0, 0.0, 7.75]], dtype=object)

In [47]:
#scaling the data to more concise data using mean and std deviation
from sklearn.preprocessing import StandardScaler
sd=StandardScaler()
X[:,:]=sd.fit_transform(X[:,:])
display(X)

array([[0.8273772438659699, 0.7376951317802901, -0.5924805998028931,
        0.4327933656785018, -0.4736736092984604, -0.5024451714361923],
       [-1.5661069258891576, -1.3555735383351195, 0.6387890120425208,
        0.4327933656785018, -0.4736736092984604, 0.7868452935884461],
       [0.8273772438659699, -1.3555735383351195, -0.2846631968415396,
        -0.47454519624983954, -0.4736736092984604, -0.4888542575852486],
       ...,
       [0.8273772438659699, -1.3555735383351195, 0.0, 0.4327933656785018,
        2.0089333664952354, -0.17626323901354432],
       [-1.5661069258891576, 0.7376951317802901, -0.2846631968415396,
        -0.47454519624983954, -0.4736736092984604, -0.04438103794142432],
       [0.8273772438659699, 0.7376951317802901, 0.17706290760049057,
        -0.47454519624983954, -0.4736736092984604, -0.49237782784290063]],
      dtype=object)

In [48]:
#building ANN
import keras
from keras.models import Sequential 
from keras.layers import Dense

model = Sequential()
model.add(Dense(units=5, kernel_initializer='uniform',activation='relu',input_dim=6))
model.add(Dense(units=4, kernel_initializer='uniform',activation='relu'))
model.add(Dense(units=1, kernel_initializer='uniform',activation='sigmoid'))

#compiling the ANN
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Training the model
model.fit(X,Y,batch_size=10,epochs=100)

Epoch 1/100
891/891 [==============================] - 1s 588us/step - loss: 0.6897 - accuracy: 0.6162
Epoch 2/100
891/891 [==============================] - 0s 117us/step - loss: 0.6762 - accuracy: 0.6162
Epoch 3/100
891/891 [==============================] - 0s 90us/step - loss: 0.6494 - accuracy: 0.6162
Epoch 4/100
891/891 [==============================] - 0s 123us/step - loss: 0.6150 - accuracy: 0.6162
Epoch 5/100
891/891 [==============================] - 0s 108us/step - loss: 0.5849 - accuracy: 0.6162
Epoch 6/100
891/891 [==============================] - 0s 150us/step - loss: 0.5647 - accuracy: 0.6162
Epoch 7/100
891/891 [==============================] - 0s 143us/step - loss: 0.5532 - accuracy: 0.6162
Epoch 8/100
891/891 [==============================] - 0s 117us/step - loss: 0.5456 - accuracy: 0.6162
Epoch 9/100
891/891 [==============================] - 0s 110us/step - loss: 0.5396 - accuracy: 0.6521
Epoch 10/100
891/891 [==============================] - 0s 120us/step - loss: 0.5342 - accuracy: 0.8025
Epoch 11/100
891/891 [==============================] - 0s 132us/step - loss: 0.5300 - accuracy: 0.8137
Epoch 12/100
891/891 [==============================] - 0s 154us/step - loss: 0.5259 - accuracy: 0.8092
Epoch 13/100
891/891 [==============================] - 0s 149us/step - loss: 0.5221 - accuracy: 0.8092
Epoch 14/100
891/891 [==============================] - 0s 139us/step - loss: 0.5186 - accuracy: 0.8148
Epoch 15/100
891/891 [==============================] - 0s 93us/step - loss: 0.5154 - accuracy: 0.8148
Epoch 16/100
891/891 [==============================] - 0s 106us/step - loss: 0.5124 - accuracy: 0.8171
Epoch 17/100
891/891 [==============================] - 0s 100us/step - loss: 0.5098 - accuracy: 0.8126
Epoch 18/100
891/891 [==============================] - 0s 103us/step - loss: 0.5075 - accuracy: 0.8137
Epoch 19/100
891/891 [==============================] - 0s 105us/step - loss: 0.5050 - accuracy: 0.8159
Epoch 20/100
891/891 [==============================] - 0s 98us/step - loss: 0.5026 - accuracy: 0.8159
Epoch 21/100
891/891 [==============================] - 0s 95us/step - loss: 0.5008 - accuracy: 0.8171
Epoch 22/100
891/891 [==============================] - 0s 183us/step - loss: 0.4985 - accuracy: 0.8182
Epoch 23/100
891/891 [==============================] - 0s 179us/step - loss: 0.4968 - accuracy: 0.8171
Epoch 24/100
891/891 [==============================] - 0s 153us/step - loss: 0.4950 - accuracy: 0.8182
Epoch 25/100
891/891 [==============================] - 0s 155us/step - loss: 0.4933 - accuracy: 0.8159
Epoch 26/100
891/891 [==============================] - 0s 112us/step - loss: 0.4917 - accuracy: 0.8182
Epoch 27/100
891/891 [==============================] - 0s 178us/step - loss: 0.4901 - accuracy: 0.8182
Epoch 28/100
891/891 [==============================] - 0s 160us/step - loss: 0.4888 - accuracy: 0.8171
Epoch 29/100
891/891 [==============================] - 0s 142us/step - loss: 0.4872 - accuracy: 0.8171
Epoch 30/100
891/891 [==============================] - 0s 142us/step - loss: 0.4854 - accuracy: 0.8182
Epoch 31/100
891/891 [==============================] - 0s 146us/step - loss: 0.4839 - accuracy: 0.8182
Epoch 32/100
891/891 [==============================] - 0s 200us/step - loss: 0.4831 - accuracy: 0.8182
Epoch 33/100
891/891 [==============================] - 0s 186us/step - loss: 0.4812 - accuracy: 0.8171
Epoch 34/100
891/891 [==============================] - 0s 151us/step - loss: 0.4801 - accuracy: 0.8182
Epoch 35/100
891/891 [==============================] - 0s 161us/step - loss: 0.4783 - accuracy: 0.8182
Epoch 36/100
891/891 [==============================] - 0s 114us/step - loss: 0.4775 - accuracy: 0.8182
Epoch 37/100
891/891 [==============================] - 0s 173us/step - loss: 0.4759 - accuracy: 0.8193
Epoch 38/100
891/891 [==============================] - 0s 160us/step - loss: 0.4748 - accuracy: 0.8182
Epoch 39/100
891/891 [==============================] - 0s 115us/step - loss: 0.4734 - accuracy: 0.8171
Epoch 40/100
891/891 [==============================] - 0s 88us/step - loss: 0.4722 - accuracy: 0.8215
Epoch 41/100
891/891 [==============================] - 0s 109us/step - loss: 0.4711 - accuracy: 0.8204
Epoch 42/100
891/891 [==============================] - 0s 105us/step - loss: 0.4697 - accuracy: 0.8182
Epoch 43/100
891/891 [==============================] - 0s 100us/step - loss: 0.4679 - accuracy: 0.8137
Epoch 44/100
891/891 [==============================] - 0s 112us/step - loss: 0.4667 - accuracy: 0.8171
Epoch 45/100
891/891 [==============================] - 0s 112us/step - loss: 0.4645 - accuracy: 0.8171
Epoch 46/100
891/891 [==============================] - 0s 101us/step - loss: 0.4624 - accuracy: 0.8193
Epoch 47/100
891/891 [==============================] - 0s 100us/step - loss: 0.4609 - accuracy: 0.8159
Epoch 48/100
891/891 [==============================] - 0s 105us/step - loss: 0.4596 - accuracy: 0.8159
Epoch 49/100
891/891 [==============================] - 0s 172us/step - loss: 0.4574 - accuracy: 0.8182
Epoch 50/100
891/891 [==============================] - 0s 164us/step - loss: 0.4565 - accuracy: 0.8148
Epoch 51/100
891/891 [==============================] - 0s 120us/step - loss: 0.4546 - accuracy: 0.8182
Epoch 52/100
891/891 [==============================] - 0s 109us/step - loss: 0.4530 - accuracy: 0.8171
Epoch 53/100
891/891 [==============================] - 0s 112us/step - loss: 0.4514 - accuracy: 0.8159
Epoch 54/100
891/891 [==============================] - 0s 104us/step - loss: 0.4502 - accuracy: 0.8182
Epoch 55/100
891/891 [==============================] - 0s 93us/step - loss: 0.4490 - accuracy: 0.8171
Epoch 56/100
891/891 [==============================] - 0s 107us/step - loss: 0.4481 - accuracy: 0.8148
Epoch 57/100
891/891 [==============================] - 0s 107us/step - loss: 0.4468 - accuracy: 0.8182
Epoch 58/100
891/891 [==============================] - 0s 96us/step - loss: 0.4460 - accuracy: 0.8159
Epoch 59/100
891/891 [==============================] - 0s 99us/step - loss: 0.4447 - accuracy: 0.8182
Epoch 60/100
891/891 [==============================] - 0s 99us/step - loss: 0.4437 - accuracy: 0.8193
Epoch 61/100
891/891 [==============================] - 0s 100us/step - loss: 0.4430 - accuracy: 0.8193
Epoch 62/100
891/891 [==============================] - 0s 125us/step - loss: 0.4421 - accuracy: 0.8182
Epoch 63/100
891/891 [==============================] - 0s 130us/step - loss: 0.4415 - accuracy: 0.8182
Epoch 64/100
891/891 [==============================] - 0s 118us/step - loss: 0.4404 - accuracy: 0.8193
Epoch 65/100
891/891 [==============================] - 0s 135us/step - loss: 0.4398 - accuracy: 0.8182
Epoch 66/100
891/891 [==============================] - 0s 127us/step - loss: 0.4387 - accuracy: 0.8193
Epoch 67/100
891/891 [==============================] - 0s 141us/step - loss: 0.4381 - accuracy: 0.8215
Epoch 68/100
891/891 [==============================] - 0s 85us/step - loss: 0.4370 - accuracy: 0.8204
Epoch 69/100
891/891 [==============================] - 0s 103us/step - loss: 0.4368 - accuracy: 0.8204
Epoch 70/100
891/891 [==============================] - 0s 106us/step - loss: 0.4358 - accuracy: 0.8193
Epoch 71/100
891/891 [==============================] - 0s 103us/step - loss: 0.4349 - accuracy: 0.8193
Epoch 72/100
891/891 [==============================] - 0s 104us/step - loss: 0.4339 - accuracy: 0.8238
Epoch 73/100
891/891 [==============================] - 0s 92us/step - loss: 0.4333 - accuracy: 0.8227
Epoch 74/100
891/891 [==============================] - 0s 119us/step - loss: 0.4329 - accuracy: 0.8238
Epoch 75/100
891/891 [==============================] - 0s 92us/step - loss: 0.4323 - accuracy: 0.8215
Epoch 76/100
891/891 [==============================] - 0s 93us/step - loss: 0.4317 - accuracy: 0.8238
Epoch 77/100
891/891 [==============================] - 0s 108us/step - loss: 0.4308 - accuracy: 0.8227
Epoch 78/100
891/891 [==============================] - 0s 101us/step - loss: 0.4304 - accuracy: 0.8215
Epoch 79/100
891/891 [==============================] - 0s 96us/step - loss: 0.4297 - accuracy: 0.8215

Epoch 80/100
891/891 [==============================] - 0s 106us/step - loss: 0.4293 - accuracy: 0.8227
Epoch 81/100
891/891 [==============================] - 0s 102us/step - loss: 0.4289 - accuracy: 0.8260
Epoch 82/100
891/891 [==============================] - 0s 112us/step - loss: 0.4285 - accuracy: 0.8227
Epoch 83/100
891/891 [==============================] - 0s 88us/step - loss: 0.4274 - accuracy: 0.8238
Epoch 84/100
891/891 [==============================] - 0s 96us/step - loss: 0.4273 - accuracy: 0.8204
Epoch 85/100
891/891 [==============================] - 0s 108us/step - loss: 0.4268 - accuracy: 0.8260
Epoch 86/100
891/891 [==============================] - 0s 97us/step - loss: 0.4260 - accuracy: 0.8249
Epoch 87/100
891/891 [==============================] - 0s 106us/step - loss: 0.4256 - accuracy: 0.8238
Epoch 88/100
891/891 [==============================] - 0s 90us/step - loss: 0.4249 - accuracy: 0.8238
Epoch 89/100
891/891 [==============================] - 0s 108us/step - loss: 0.4245 - accuracy: 0.8227
Epoch 90/100
891/891 [==============================] - 0s 92us/step - loss: 0.4239 - accuracy: 0.8238
Epoch 91/100
891/891 [==============================] - 0s 108us/step - loss: 0.4233 - accuracy: 0.8238
Epoch 92/100
891/891 [==============================] - 0s 116us/step - loss: 0.4232 - accuracy: 0.8260
Epoch 93/100
891/891 [==============================] - 0s 89us/step - loss: 0.4222 - accuracy: 0.8260
Epoch 94/100
891/891 [==============================] - 0s 107us/step - loss: 0.4218 - accuracy: 0.8249
Epoch 95/100
891/891 [==============================] - 0s 106us/step - loss: 0.4213 - accuracy: 0.8260
Epoch 96/100
891/891 [==============================] - 0s 102us/step - loss: 0.4205 - accuracy: 0.8260
Epoch 97/100
891/891 [==============================] - 0s 102us/step - loss: 0.4208 - accuracy: 0.8283
Epoch 98/100
891/891 [==============================] - 0s 101us/step - loss: 0.4196 - accuracy: 0.8260
Epoch 99/100
891/891 [==============================] - 0s 91us/step - loss: 0.4192 - accuracy: 0.8249
Epoch 100/100
891/891 [==============================] - 0s 121us/step - loss: 0.4187 - accuracy: 0.8283

In [49]:
#compiling test data

test=pd.read_csv('test.csv',delimiter=',')
t=test.drop(columns=['PassengerId','Name','Ticket','Cabin','Embarked'])

#dealing with NaN in test data
avg=t['Age'].mean()
t=t.fillna(avg)
T=t.iloc[:,:].values

#encoding Male-Female
le1 = LabelEncoder()
T[:,1]=le1.fit_transform(T[:,1])
print(T)

#scaling the data
T[:,:]=sd.fit_transform(T[:,:])
display(T)

[[3 1 34.5 0 0 7.8292]
 [3 0 47.0 1 0 7.0]
 [2 1 62.0 0 0 9.6875]
 ...
 [3 1 38.5 0 0 7.25]
 [3 1 30.272590361445783 0 0 8.05]
 [3 1 30.272590361445783 1 1 22.3583]]

array([[0.873481905063612, 0.7559289460184545, 0.3349925991280019,
        -0.49947001653571804, -0.40024770163856355, -0.4981718976707343],
       [0.873481905063612, -1.3228756555322954, 1.3255300315335647,
        0.6169923733676517, -0.40024770163856355, -0.5130389656780088],
       [-0.3158191904301659, 0.7559289460184545, 2.5141749504202404,
        -0.49947001653571804, -0.40024770163856355, -0.46485367229939056],
       ...,
       [0.873481905063612, 0.7559289460184545, 0.651964577497782,
        -0.49947001653571804, -0.40024770163856355, -0.5085566128055792],
       [0.873481905063612, 0.7559289460184545, 0.0, -0.49947001653571804,
        -0.40024770163856355, -0.49421308361380445],
       [0.873481905063612, 0.7559289460184545, 0.0, 0.6169923733676517,
        0.6198958305865556, -0.23767368519546644]], dtype=object)

In [55]:
#getting predictions of test data

prediction = model.predict(T).tolist()
se = pd.Series(prediction)
output=test.iloc[:,:1]
output['check'] = se
output['check'] = output['check'].str.get(0)
series = []
for val in output.check:
    if val >= 0.5:
        series.append(1)
    else:
        series.append(0)
output['Survived'] = series
o=output.drop(columns=['check'])
print(o)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         1
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [56]:
# saving the dataframe 
o.to_csv('submission1.csv')